/*หน้าหลักข่าว*/
.news-title-main {
  width: 100vw;
  height: 600px;
  position: relative;
  cursor: pointer;
  user-select: none;
  display: block;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  overflow: hidden;
}
.news-title-main:hover .all-news-title {
  transform: scale(1.05);
  opacity: 1;
}
.news-title-main:hover .line-post {
  transform: translateY(-10px);
}
.all-news-title {
  background-color: #333;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column-reverse;
  box-shadow: 0px 0px 10px #000;
  text-align: left;
  cursor: pointer;
  user-select: none;
  opacity: 0.8;
  transition-duration: 0.5s;
}
.line-news-update {
  width: 100vw;
  height: 100px;
  padding: 0px 14vw;
  padding-top: 40px;
  border-bottom: 3px solid #313131;
  box-sizing: border-box;
  font-family: "Radiance", "Noto Sans", sans-serif;
  overflow: hidden;
}
.table-news-update {
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.text-news-update-active {
  color: #fff;
  background-color: #313131;
  border-top: 2px solid #646566;
  width: 48%;
  height: 100%;
  padding-top: 20px;
  text-align: center;
  letter-spacing: 4px;
  font-weight: bold;
  font-size: 17px;
}
.text-news-update {
  width: 48%;
  height: 100%;
  padding-top: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: bold;
  text-align: center;
  font-size: 17px;
  color: #828282;
  background-color: #222;
}
.table-allnews {
  width: 100vw;
  height: auto;
  padding: 0px 14vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 3vw;
  box-sizing: border-box;
  font-family: "Radiance", "Noto Sans", sans-serif;
}
.line-post {
  z-index: 5;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
  margin: 0px 14vw;
  box-sizing: border-box;
  transition-duration: 0.5s;
  font-family: "Radiance", "Noto Sans", sans-serif;
}
.learn-more {
  position: relative;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  user-select: none;
  text-shadow: 0px 0px 4px #000;
  z-index: 200;
  opacity: 0.6;
}
.learn-more:hover {
  opacity: 1;
}
.learn-more:hover .learn-more-arrow {
  opacity: 1;
  transform: rotate(180deg) translateX(-5px);
}
.learn-more-arrow {
  width: 20px;
  height: 20px;
  margin-top: 1px;
  margin-right: 8px;
  transform: rotate(180deg);
  transition-duration: .2s; 
}
.all-button {
  padding: 0px 14vw;
  margin-top: 30px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.news-button {
  width: 30px;
  height: 30px;
  padding: 5px 10px;
  background-color: #ffffff50;
  margin: 0px 5px;
  font-family: "Radiance", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #000;
  cursor: pointer;
  user-select: none;
  text-align: center;
  box-sizing: border-box;
}
.big-boxnew {
  width: 100vw;
  padding: 0px 14vw;
  justify-content: center;
  margin-top: -1px;
  padding-top: 1px;
  box-sizing: border-box;
  font-family: "Radiance", "Noto Sans", sans-serif;
}
.boxnew {
  width: 100%;
  justify-items: left;
  position: relative;
  text-align: left;
  border-left: 2px solid #1f3242;
  background-color: #0b0b0b;
  padding: 20px 20px;
  margin: 40px 0px;
  box-sizing: border-box;
  font-family: "Radiance", "Noto Sans", sans-serif;
}
.date-news {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 8px;
  z-index: 2;
  font-weight: lighter;
}
.big-news {
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 8px;
  text-shadow: 0px 0px 10px #000;
  font-family: "Reaver", serif;
  font-weight: bold;
  text-transform: none;
  letter-spacing: 0px;
  font-size: 24px;
  color: #fff;
  z-index: 2;
}
.read-news {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
  z-index: 2;
  margin-left: 20px;
  margin-bottom: 10px;
  line-height: 26px;
}
