body {
  margin: 0;
  padding: 0;
  background: black !important;
  overflow-x: hidden;
}
.section_1 {
  width: 100vw;
  height: 75vh;
  position: relative;
  top: 0;
  z-index: 2;
}
/* part section_2 */
.section_2 {
  width: 1200px;
  max-width: 100%;
  margin: 0px auto;
  position: relative;
  min-height: 308px;
  margin-bottom: -150px;
  z-index: 100;
}
.news {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #333;
  position: relative;
  background-size: cover;
  background-position: top;
  border-bottom: 2px solid #555;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column-reverse;
  box-shadow: 0px 0px 10px #000;
  background-image: url(https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react//blog/default_cover.jpg);
  text-align: left;
  cursor: pointer;
  user-select: none;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.news:hover {
  transform: scale(1.02);
  z-index: 100;
  box-shadow: 0px 0px 30px #000;
  border-bottom: 2px solid #ff6046;
}
.news:hover .news-content-hidden {
  height: 120px;
  opacity: 1;
  transform: translateY(0px);
}
.news::after {
  transition-property: opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  content: "\a";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
}
.news:hover::after {
  opacity: 1;
}
.news-content-hidden {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
  z-index: 2;
  margin-left: 20px;
  margin-bottom: 0px;
  opacity: 0;
  transform: translateY(20px);
  height: 0px;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-property: height, opacity, transform;
}
.news-title {
  margin: 0px 10px 8px 20px;
  text-shadow: 0px 0px 10px #000;
  font-weight: bold;
  text-transform: none;
  letter-spacing: 0px;
  font-size: 24px;
  line-height: 115%;
  color: #fff;
  z-index: 2;
}
.news-date {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left: 20px;
  margin-bottom: 8px;
  z-index: 2;
}
.shadow-news {
  left: 0px;
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
  background: linear-gradient(
    rgba(19, 23, 28, 0) 60%,
    rgba(19, 23, 28, 0.733) 70%,
    rgb(19, 23, 28) 90%
  );
}

/* end part section_2 */

.section_3 {
  width: 100vw;
  min-height: 764px;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 100px;
}

.section_4 {
  width: 100vw;
  height: auto;
  background-size: 3500px;
  background-position: center top;
  background-repeat: no-repeat;
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 40;
  position: relative;
  background-image: url(https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react//home/heroes_full.jpg);
}
.section_5 {
  width: 100vw;
  min-height: 1150px;
  margin: 40px auto;
  padding-bottom: 100px;
  background-position: top;
  background-size: 2000px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section_6 {
  width: 100vw;
  margin: 40px auto;
  background-size: cover;
  background-repeat: none;
  min-height: 0;
  display: flex;
  flex-direction: column;
  padding: 50px 150px;
}
.shadow-top {
  width: 100%;
  height: 200px;
  position: absolute;
  top: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.7) 80%,
    black 100%
  );
  z-index: 12;
}
.shadow-bottom {
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: 0;
  background: linear-gradient(
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.7) 80%,
    black 100%
  );
  z-index: 12;
}

.square {
  width: 43px;
  height: 35px;
  margin-left: -4px;
  background-size: cover;
  background-repeat: no-repeat;
  transition-property: filter;
  transition-timing-function: ease-in-out;
  transition-duration: 0.1s;
  cursor: pointer;
  color: #fff;
  filter: brightness(0.5) saturate(0);
}
.square:hover {
  filter: brightness(1) saturate(1);
}
.icon-hero {
  aspect-ratio: 16/9;
  height: 127px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 4px #000;
  filter: saturate(0.8);
  transition-property: transform, box-shadow, background-size, opacity, top,
    left;
  transition-timing-function: ease-out;
  transition-duration: 0.3s;
  background-position: center;
  background-size: 110%;
  background-repeat: no-repeat;
  position: absolute;
  overflow: hidden;
  cursor: pointer;
}
.icon-hero:hover {
  transform: scale(1.4);
  box-shadow: 3px 3px 8px #000;
  background-size: 100%;
  filter: saturate(1);
  z-index: 4;
}
.icon-hero:hover .icon-type {
  opacity: 1;
  bottom: 0px;
}
.icon-hero:hover .fade-bottom-hero {
  opacity: 1;
}
.icon-type {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: -40px;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition-property: opacity, bottom;
  transition-timing-function: ease-out;
  transition-duration: 0.2s;
  z-index: 3;
  opacity: 0;
}
.hero-name {
  font-size: 18px;
  line-height: 20px;
  font-family: "Reaver", serif;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 8px;
  padding-left: 0px;
  text-shadow: 0px 0px 4px #000;
}
.fade-bottom-hero {
  width: 100%;
  height: 100%;
  position: absolute;
  transition-property: opacity, bottom;
  transition-timing-function: ease-out;
  transition-duration: 0.2s;
  opacity: 0;
}
.hero-input {
  height: 30px;
  width: 95%;
  border: 0px solid transparent;
  background-color: #25282a;
  outline: none;
  color: #fff;
  font-size: 18px;
  padding: 4px;
}
.hero-input:focus{
  background-color: #505050;
}
